Repository marrlab/DomainLab, pull requests merged in 2023-10, with the labels that each got.

#494 without inner trainer
  domainlab/algos/trainers/a_trainer.py
  domainlab/algos/trainers/args_fbopt.py
  domainlab/algos/trainers/fbopt.py
  domainlab/algos/trainers/fbopt_alternate.py
  domainlab/algos/trainers/train_basic.py
  domainlab/algos/trainers/train_mu_controller.py
  domainlab/algos/trainers/zoo_trainer.py
  domainlab/models/a_model.py
  examples/benchmark/benchmark_fbopt_mnist.yaml
  examples/benchmark/benchmark_fbopt_mnist_dann.yaml
  examples/benchmark/benchmark_fbopt_mnist_diva.yaml
Labels: fbopt

#542 Fix typo on Helmholtz GPU guide
  README.md
Labels: documentation

#579 Add tuning of exp_shoulder_clip
  examples/benchmark/pacs_diva_fbopt_alone_es1_daniele.yaml
Labels: benchmark

#593 maxi + step/2 changed to maxi- step/2
  domainlab/utils/hyperparameter_gridsearch.py
Labels: bug
